  <div class="span2">
	  <ul class="nav nav-tabs nav-stacked">
		  <li class="<{if $active=='account'}>active<{/if}>"><a href="<{$siteurl}>/set" class="">基本信息</a></li>
		  <li class="<{if $active=='password'}>active<{/if}>"><a href="<{$siteurl}>/set/password" class="">帐号设置</a></li>
		  <li class="<{if $active=='privacy'}>active<{/if}>"><a href="<{$siteurl}>/set/privacy" class="">隐私设置</a></li>
		  <li class="<{if $active=='avatar'}>active<{/if}>"><a href="<{$siteurl}>/set/avatar" class="">头像设置</a></li>
		  <li class="<{if $active=='tags'}>active<{/if}>"><a href="<{$siteurl}>/set/tags" class="">标签设置</a></li>
	  </ul>
  </div>
