
	  <!-- footer -->
	  <footer class="footer">
		  <div class="container">
			  <div class="row-fluid" style="margin-top:30px;">
				  <div class="span5">
				  <span class="muted">2013 breakfate.com, all rights reserved</span>
				  </div>
				 <span class=""><img src="http://www.breakfate.com/ui/img/copyright.png"></span>
				 <ul class="inline pull-right">
					 <li><a href="<{$siteurl}>/aboutus">关于breakfate</a></li>
					 <li><a href="<{$siteurl}>/help">帮助中心</a></li>
					 <li><a href="<{$siteurl}>/contact">联系我们</a></li>
					 <li><a href="<{$siteurl}>/privacy">隐私条款</a></li>
				 </ul>
			  </div>
		  </div>
	  </footer>
	  <!-- end footer -->
