
	  <!-- header -->
	  <div class="navbar navbar-inverse navbar-static-top">
		  <div class="navbar-inner">
			  <div class="container">
				  <a class="pull-left" href="<{$siteurl}>"><img src="<{$siteurl}>/ui/img/logo.png" style="height:40px;width:60px;"></a>
				  <span class="nav-collapse collapse">
					  <ul class="nav">
						  <li class><a href="<{$siteurl}>/habit">习惯</a></li>
						  <li class><a href="<{$siteurl}>/thanksgiving">感恩</a></li>
						  <li class><a href="<{$siteurl}>/mature">成长</a></li>
					  </ul>
					  <form class="navbar-search" name="search" method="get" action="<{$siteurl}>/search">
						<input type="text" class="search-query" placeholder="Search" id="search" name="keyword">
					  </form>
					  <div class="pull-right">
						  <{if $userinfo}>
						  <div style="margin-top:5px;">
							  <a href="<{$siteurl}>/home/<{$userinfo.UserName}>"><img style="height:30px;width:30px;" src="<{if $userinfo.Avatars}><{$imgurl}><{$userinfo.Avatars}><{else}><{$siteurl}>/ui/img/user_normal.jpg<{/if}>" class="img-rounded"><{$userinfo.UserName}></a>
						  <{if $atme}>
						  <a href="<{$siteurl}>/thanksgiving/atme"><span class="">@我的</span></a>
						  <{/if}>
						  <a href="<{$siteurl}>/set"><i class="icon-edit"></i></a>
						  <a href="<{$siteurl}>/logout"><i class="icon-share"></i></a>
						  </div>
						  <{else}>
						  <a href="<{$siteurl}>/signin" style=""><button class="btn btn-success ">登录</button></a>
						  <{/if}>
					  </div>
				  </span>
			  </div>
		  </div>
	  </div>
	  <!-- header -->
