
	  <!-- footer -->
	  <footer class="footer">
		  <div class="container">
			  <div class="row-fluid" style="margin-top:30px;">
				  <div class="span5">
				 <span class="muted">2013－2015 breakfate.com, all rights reserved </span>
				 <br>
				 <span ><a href="http://www.miibeian.gov.cn/">浙ICP备13012917号</a></span>
				 </div>
				 <span class=""><img src="http://www.breakfate.com/ui/img/copyright.png"></span>
				 <ul class="inline pull-right">
					 <li><a href="<{$siteurl}>/aboutus">关于breakfate</a></li>
					 <li><a href="<{$siteurl}>/help">帮助中心</a></li>
					 <li><a href="<{$siteurl}>/contact">联系我们</a></li>
					 <li><a href="<{$siteurl}>/privacy">隐私条款</a></li>
				 </ul>
			  </div>
		  </div>
	  </footer>
	  <!-- end footer -->
